{% extends "scoping/base_bs.html" %}
{% block content %}

<br>
    <h1> Scoping Review Helper</h1>
    <br/>

    <!-- Query manager -->
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-8 bg-white border rounded p-3 m-2 text-center">

          <h2> Query manager </h2>
          <p>Use the buttons below to filter queries by user and category.
             New queries can be made at the bottom of the page.</p>
          <br/>
          <p id="field_container">
          {% for u in users %}
              {% if u == user %}
                <span id="thisuser" class="field_name user" name="{{u.id}}">{{ u.username }}</span>
              {% else %}
                <span class="field_name user technology" name="{{u.id}}">{{ u.username }}</span>
              {% endif %}
          {% endfor %}
          </p>

          <p id="field_container">
            <span class="field_name tech active" name="None">None</span>
            {% for t in techs %}
              <span class="field_name tech active" name="{{t.id}}">{{ t.name }}</span>
            {% endfor %}
          </p>
        </div>

    </div>

    <br>
        <p>
            <table class="table" id="query_table" style="width:100%">
        {% include 'scoping/snippets/query_table.html' %}
    </table>

<br/><hr/><br/>

<!-- This gets new queries -->


<div>

    <h2>Query Generator</h2>
    <p>Use the buttons below to generate new queries summarising other queries and information entered in the platform
    </p>
    <div class="flex-row">
            <a href="{% url 'scoping:generate_query' project.id 1 %}"<label class="btn btn-secondary m-2">All project documents</label></a>
            <a href="{% url 'scoping:generate_query' project.id 2 %}"<label class="btn btn-secondary m-2">All relevant documents</label></a>
            <a href="{% url 'scoping:generate_query' project.id 3 %}"<label class="btn btn-secondary m-2">All rated documents</label></a>
    </div>
    <div class="flex-row">
            <a href="{% url 'scoping:generate_query' project.id 5 %}"<label class="btn btn-secondary m-2">All unrated documents</label></a>
            <a href="{% url 'scoping:generate_query' project.id 4 %}"<label class="btn btn-secondary m-2">All conflicted / maybe documents</label></a>
            <a href="{% url 'scoping:generate_query' project.id 6 %}"class="btn btn-secondary m-2">All Title-relevant docs</a>
            <a href="{% url 'scoping:generate_query' project.id 7 %}"class="btn btn-secondary m-2">All Abstract-relevant docs</a>
    </div>
    <br>
</div>
<hr>





<div class="explanation">
<h2> Query Getter </h2>

<form action="{% url 'scoping:create_query' project.id %}" method="post">
  {% csrf_token %}
  <table>
    {{ query_entry_form.as_table }}
  </table>
  <input type="submit" value="Search Query" />
</form>
</div>

<hr>

<div class="explanation">
    <h2> Query Uploader </h2>
    
    <p>
        <a href="{% url 'scoping:query_create' project.id %}">Click</a> to upload a Web of Science or Scopus or RIS file you have downloaded yourself</a>
    </p>
</div>

{% endblock %}



{% block script %}

<script>

$(document).ready(function(){
    blank_edition_option = $('#id_wos_editions_0')
    blank_edition_option.parent().parent().hide()
});

// show WOS specific fields only if WOS selected as source
$('#id_database').change(function() {
    selected = $(this).val()
    wos_specific = $(".wos-specific")
    credentials = $("#id_credentials")
    if (selected == "WoS") {
        wos_specific.parent().parent().show()
        blank_edition_option.parent().parent().hide()
    } else {
        credentials.prop("checked", false)
        wos_specific.parent().parent().hide()
    }
})

// display editions picker if WoS core selected
$("#id_wos_collection").change(function() {
    selected = $(this).val()
    core_specific = $(".core-specific")
    if (selected == 'core') {
        core_specific.parent().parent().show()
        blank_edition_option.parent().parent().hide()
    } else {
        core_specific.parent().parent().hide()
    }
})

$(".field_name").click(get_table)

function get_table() {
  $("body").css("cursor", "progress");
  $(this).toggleClass('active')
  users = []
  techs = []
  $(".field_name.user.active").each(function(){
      users.push($(this).attr('name'))
  })
  $(".field_name.tech.active").each(function(){
      techs.push($(this).attr('name'))
  })

  $.ajax({
      url: "{% url 'scoping:query_table' project.id %}",
      data: {
          'users': users,
          'techs': techs
      },
      success: function(res) {
          $("#query_table").html(res)
          $("body").css("cursor", "default");
      }
  })
}

$('#thisuser').click()


$(".qtag").change(function() {
    thing = $(this).attr("data-thing")
    query = $(this).attr("data-query")
    value = $(this).val()

    $.ajax({
        url: "{% url 'scoping:update_thing' %}",
        data: {
            'thing1': "Query",
            'id1': query,
            'thing2': thing,
            'id2': value,
            'method': "update"
        },
        success: function(data) {
        }
    })
})

</script>

{% endblock %}
